src/main/mule/implementation.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
	http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking.xsd
	http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <http:listener-config name="HTTP_Listener_config" >
    <http:listener-connection host="0.0.0.0" port="8081" />
  </http:listener-config>
  <db:config name="trainingDB" >
      <db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training"/>
  </db:config>
  <flow name="getFlights">
        
        <db:select doc:name="Query Flights" doc:id="prohkd" config-ref="trainingDB">
            <db:sql>Select * FROM american</db:sql>
        </db:select>
       <ee:transform doc:name="Transform Message" doc:id="51fed3-afee8c">
  <ee:message>
    <ee:set-payload>
      <![CDATA[
      %dw 2.0
      output application/json
      ---
      payload map ( payload01 , indexOfPayload01 ) -> {
        ID: payload01.ID,
        code: (payload01.code1 default "") ++ (payload01.code2 default ""),
        price: payload01.price default 0,
        departureDate: payload01.takeOffDate as String default "",
        origin: payload01.fromAirport default "",
        destination: payload01.toAirport default "",
        emptySeats: payload01.seatsAvailable default 0,
        plane: {
          "type": payload01.planeType default "",
          totalSeats: payload01.totalSeats default 0
        }
      }
      ]]>
    </ee:set-payload>
  </ee:message>
</ee:transform>
        <set-variable value="#[payload]" variableName="databasePayload" doc:name="Set variable" doc:id="evsdmx" />
        <logger level="INFO" message="#[output application/json --- payload]" doc:name="Logger" doc:id="ca73a3-5a3b77"/>
  </flow>
</mule>
